.sidebar {
    width: 250px;
    height: 100vh;
    /* Fill the full height of the viewport */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #b399c9, rgb(222, 179, 201));
    color: #FFFFFF;
    overflow-y: hidden;
    /* Hide the scrollbar */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.sidebarWrapper {
    padding-top: 50px;
    padding: 20px;
    height: 100%;
    /* Fill the height of its parent */
    /* Only show scrollbar when needed */
}

.sidebarTitle {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.sidebarList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebarListItem {
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 10px;
    /* Add space between list items */
    background: transparent;
    /* Clear background for a modern flat design */
}

.sidebarListItem.active,
.sidebarListItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(5px);
    border-left: 4px solid #FFFFFF;
}

.sidebarIcon {
    margin-right: 10px;
    font-size: 20px;
    color: #FFFFFF;
    /* Icons in white to contrast the background */
}