:root {
    --navbar-height: 60px;
}

.admin-panel * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style for the overall admin panel layout */
.admin-panel {
    font-family: 'Your preferred font', sans-serif;
    background: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.admin-panel .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./assets/images/bgImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.admin-panel .content {
    flex-grow: 1;
    margin-left: 250px;
    padding: 20px;
    padding-top: var(--navbar-height);
    overflow-y: auto;
    /* Allow scrolling within content */
    position: relative;
    z-index: 1;
}


/* Container styles */
.admin-panel .container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;

}

.admin-panel .navBar {}


.admin-panel .sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    z-index: 100;
}

.admin-panel .content {
    flex-grow: 1;
    margin-left: 250px;
    padding: 20px;
    padding-top: var(--navbar-height);
    overflow-y: auto;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .admin-panel .container {
        flex-direction: column;
    }

    .admin-panel .sidebar {
        width: 100%;
        /* Full width for mobile */
        height: auto;
    }

    .admin-panel .content {
        padding: 10px;
        /* Reduced padding for mobile */
    }
}