.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}


.routes-container {
    flex-grow: 1;
    width: 100%;
    overflow: auto;
}