.generalSettings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    margin-top: var(--navbar-height);
    margin: 20px auto;
}

.profileSummary {
    text-align: center;
    padding: 20px;
    width: 100%;
}

.profilePicture {
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
}

.profilePicture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #eee;
    display: block;
    margin: 0 auto;
}

.changeProfileButton {
    position: absolute;
    bottom: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f0f0f0;
    border: 2px solid #fff;
    cursor: pointer;
    bottom: 0;
    right: 0;
}

.changeProfileButton:hover {
    background-color: #e0e0e0;
}

.iconCameraSolid {
    font-size: 14px;
}

.newUserTitle {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.badge {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 14px;
}

.subheading2 {
    font-size: 14px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn--secondary {
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: transparent;
    color: #007bff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn--secondary {
    padding: 10px 20px;
    border: none;
    background-color: #5C6BC0;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.notificationsAndMessages {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.yourButtonStyles {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #ffc1073f;
    color: #333;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.yourButtonStyles:hover {
    background-color: #e0e0e0;
}