:root {
    --navbar-background-color: #fff;
    --text-color: #000;
    --navbar-height: 60px;
}

.app.dark {
    --navbar-background-color: #333;
    --text-color: #fff;
}

.navbar {
    width: calc(100% - 250px);
    /* Subtract sidebar width */
    margin-left: 250px;
    /* Same as the sidebar width */
    height: var(--navbar-height);
    background-color: var(--navbar-background-color);
    position: fixed;
    top: 0;
    right: 0;
    /* Align to the right to cover the full width */
    z-index: 1000;
    /* Above the sidebar's z-index of 100 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(222, 179, 201);
    /* This should match the sidebar's gradient start color */

}

.container {
    padding-top: var(--navbar-height);
}

.navbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
    text-transform: uppercase;
    padding-left: 20px;
}

.topRight {
    display: flex;
    right: 20px;
    position: absolute;

}

.navbarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 20px;
    color: #100f0f;
    transition: color 0.3s;
}

.navbarIconContainer:hover {
    color: var(--text-color);
}

.navIconBadge {
    width: 16px;
    height: 16px;
    position: absolute;
    top: -6px;
    right: 0;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.topAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* For light theme */
.app.light {
    --navbar-background-color: #fff;
    --text-color: #000;
}

/* For dark theme */
.app.dark {
    --navbar-background-color: #333;
    --text-color: #fff;
}